%p#notice= notice

= breadcrumbs(welcome_page_link, corporations_link, @corporation.name)

.panel.panel-default
  .panel-body
    .row
      .col-sm-4
        = corporation_image(@corporation.id, 128)
        = alliance_image(@corporation.alliance_id, 128) if @corporation.alliance_id
      .col-sm-8
        %table.table
          %tr
            %th
              Name
            %td.numeric
              = @corporation.name
          - if @corporation.alliance_id
            %tr
              %th
                Alliance
              %td.numeric
                = @corporation.alliance.name 
          %tr
            %th
              Memebers on EVESCORE
            %td.numeric
              = @corporation.characters_count
          %tr
            %th
              Total ISK
            %td.numeric
              - total_isk = @corporation.wallet_records.sum(:amount)
              = number_to_isk_short(total_isk)
              (
              = number_to_isk(total_isk)
              )
          %tr
            %th
              Total Tax ISK
            %td.numeric
              - total_tax = @corporation.wallet_records.sum(:tax)
              = number_to_isk_short(total_tax)
              (
              = number_to_isk(total_tax)
              )
          
%table.table
  %tr
    %th Members
  - @corporation.characters.public_characters.each do |character|
    %tr
      %td
        = link_to character_image(character.id, 32), character_profile_path(character)
        = link_to character.name, character_profile_path(character)
              
