%table.table.table-striped
  %caption
    Global
  %thead
    %tr
      %th.icon
      %th Feat
      %th.numeric Value
  %tbody
    %tr
      %td= isk_image
      %td Total ISK
      %td.numeric= number_to_isk @total_isk
    %tr
      %td= isk_image
      %td Total Tax
      %td.numeric= number_to_isk @total_tax
    %tr
      %td= icon_tag(:skull)
      %td Total Kills
      %td.numeric= number_with_delimiter @total_kills
    %tr
      %td= corporation_image(1000137)
      %td DED Sites Completed
      %td.numeric= number_with_delimiter @total_ded_sites
    %tr
      %td= icon_tag(:lp)
      %td Missions Completed
      %td.numeric= number_with_delimiter @total_missions
