.row
  .col-sm-4
    %table.table.table-striped
      %caption
        Top 5 Total ISK Earned
        %span.pull-right= link_to 'More', '#'
      %thead
        %tr
          %th.icon
          %th Character
          %th.numeric Amount
      %tbody
        - @top_isk.each do |record|
          %tr
            %td= link_to character_image(record['_id'], 32), character_profile_path(record['_id'])
            %td= link_to Character.find(record['_id']).name, character_profile_path(record['_id'])
            %td.numeric= number_to_isk_short record['amount']
  .col-sm-4
    %table.table.table-striped
      %caption
        Top 5 Ticks
        %span.pull-right= link_to 'More', global_ticks_path
      %thead
        %tr
          %th.icon
          %th Character
          %th.numeric Amount
      %tbody
        - @top_ticks.each do |record|
          %tr
            %td= link_to character_image(record['character_id'], 32), character_profile_path(record['character_id'])
            %td= link_to Character.find(record['character_id']).name, character_profile_path(record['character_id'])
            %td.numeric= number_to_isk_short record['amount']
  .col-sm-4
    %table.table.table-striped
      %caption
        Top 5 Average Ticks
        %span.pull-right= link_to 'More', average_ticks_path
      %thead
        %tr
          %th.icon
          %th Character
          %th.numeric Amount
      %tbody
        - @top_average_ticks.each do |record|
          %tr
            %td= link_to character_image(record['_id'], 32), character_profile_path(record['_id'])
            %td= link_to Character.find(record['_id']).name, character_profile_path(record['_id'])
            %td.numeric= number_to_isk_short record['amount']
.row
  .col-sm-4
    %table.table.table-striped
      %caption
        Global
        %span.pull-right= link_to 'More', '#'
      %thead
        %tr
          %th.icon
          %th Feat
          %th.numeric Value
      %tbody
        %tr
          %td= isk_image
          %td Total ISK
          %td.numeric= number_to_isk @total_isk
        %tr
          %td= isk_image
          %td Total Tax
          %td.numeric= number_to_isk @total_tax
        %tr
          %td= icon_tag(:skull)
          %td Total Kills
          %td.numeric= number_with_delimiter @total_kills
        %tr
          %td= corporation_image(1000137)
          %td DED Sites Completed
          %td.numeric= number_with_delimiter @total_ded_sites
        %tr
          %td= icon_tag(:lp)
          %td Missions Completed
          %td.numeric= number_with_delimiter @total_missions
  .col-sm-4
    %table.table.table-striped
      %caption
        Top 5 Total ISK Earned (Corporations)
        %span.pull-right= link_to 'More', '#'
      %thead
        %tr
          %th.icon
          %th Corporation
          %th.numeric Amount
      %tbody
        - @corporations_top_isk.each do |record|
          - corporation = Corporation.find(record['_id'])
          - next if corporation.private?
          %tr
            %td= link_to corporation_image(record['_id'], 32), corporation_path(corporation)
            %td= link_to corporation.name, corporation_path(corporation)
            %td.numeric= number_to_isk_short record['amount']
  .col-sm-4
    %table.table.table-striped
      %caption
        Top 5 Total Tax Collected
        %span.pull-right= link_to 'More', '#'
      %thead
        %tr
          %th.icon
          %th Corporation
          %th.numeric Amount
      %tbody
        - @corporations_top_tax.each do |record|
          - corporation = Corporation.find(record['_id'])
          - next if corporation.private?
          %tr
            %td= link_to corporation_image(corporation.id, 32), corporation_path(corporation)
            %td= link_to corporation.name, corporation_path(corporation)
            %td.numeric= number_to_isk_short record['tax']
.row
  .col-sm-4
    %table.table.table-striped
      %caption
        Top 5 Total DED Sites Completed
        %span.pull-right= link_to 'More', '#'
      %thead
        %tr
          %th.icon
          %th Character
          %th.numeric Amount
      %tbody
        - @public_top_ded_sites.each do |record|
          %tr
            %td= link_to character_image(record['_id'], 32), character_profile_path(record['_id'])
            %td= link_to Character.find(record['_id']).name, character_profile_path(record['_id'])
            %td.numeric= number_with_delimiter record['count']
  .col-sm-4
    %table.table.table-striped
      %caption
        Top 5 Total Missions Completed
        %span.pull-right= link_to 'More', '#'
      %thead
        %tr
          %th.icon
          %th Character
          %th.numeric Amount
      %tbody
        - @public_top_missions.each do |record|
          %tr
            %td= link_to character_image(record['_id'], 32), mission_path(record['_id'])
            %td= link_to Character.find(record['_id']).name, mission_path(record['_id'])
            %td.numeric= number_with_delimiter record['count']
  .col-sm-4
    %table.table.table-striped
      %caption
        Top 5 Total Rat Kills
        %span.pull-right= link_to 'More', '#'
      %thead
        %tr
          %th.icon
          %th Character
          %th.numeric Amount
      %tbody
        - @public_top_kills.each do |record|
          %tr
            %td= link_to character_image(record['_id'], 32), character_profile_path(record['_id'])
            %td= link_to Character.find(record['_id']).name, character_profile_path(record['_id'])
            %td.numeric= number_with_delimiter record['amount']
