%p#notice= notice

%ol.breadcrumb
  %li.breadcrumb-item
    = link_to 'Welcome Page', root_path
  %li.breadcrumb-item.active
    = link_to @character.name, character_profile_path(@character)
  %li.breadcrumb-item.active Ticks Journal

%table.table.table-striped
  %caption
    Ticks Journal
  %thead
    %tr
      %th.icon
      %th.timestamp Timestamp
      %th.details Details
      %th
      %th.numeric Amount
  %tbody
    - @ticks.each do |record|
      %tr
        %td= record_icon(record)
        %td= record.ts
        %td= record_details(record)
        %td
          - record.kills.each do |kill|
            = kill_image(kill)
        %td.numeric{ nowrap: :nowrap }= number_to_isk record.amount
= paginate @ticks
