%p#notice= notice

= breadcrumbs welcome_page_link, @character.name

.panel.panel-default
  %table.table.table-striped.table-rounded
    %tr
      %td{:rowspan => "2", :style => "width: 148px"}
        = character_image(@character.id)
        = link_to corporation_image(@character.corporation_id, 64), corporation_path(@character.corporation_id)
      %td= @character.name
      %th.numeric Total ISK Earned
      %th.numeric Total Rat Kills
      %th.numeric Average Tick
      %th.numeric Favourite Faction
    %tr
      %td= link_to @character.corporation.name, corporation_path(@character.corporation_id)
      %td.numeric= number_to_isk_short @character.total_isk
      %td.numeric= number_with_delimiter @character.total_kills
      %td.numeric= number_to_isk_short @character.average_tick
      %td.numeric
        = corporation_image @character.favourite_faction['corporation_id']
        = @character.favourite_faction['name']
    %tr
      %td{:colspan => "2"}
      %th.numeric Total Missions Run
      %th.numeric Favourite Mission Level
      %th.numeric Total DED Sites Run
      %th.numeric Favourite DED Site
    %tr
      %td{:colspan => "2"}
        = image_tag('awards/gold.png', style: 'height: 32px')
        = link_to awards_path(@character), class: 'btn btn-sm' do
          .label.label-success
            NEW!
          &nbsp;
          Awards
          
      %td.numeric= number_with_delimiter @character.missions_run
      %td.numeric= mission_level_label @character.favourite_mission_level
      %td.numeric= number_with_delimiter @character.ded_sites_run
      %td.numeric
        = faction_image @character.favourite_ded_site['ded_faction_id']
        = ded_site? @character.favourite_ded_site

.row
  .col-sm-4
    = render partial: 'earnings_by_day', locals: { caption: 'Earnings - Last 5 Days', more: true }
  .col-sm-4
    = render partial: 'top_ticks', locals: { caption: 'Top 5 Ticks', more: true }
  .col-sm-4
    = render partial: 'valuable_rats',  locals: { caption: 'Top 5 Rats Bounty', more: true }

%table.table.table-striped
  %caption
    Last 5 Ticks
    %span.pull-right= link_to 'More', character_journal_path(@character)
  %thead
    %tr
      %th.icon
      %th.timestamp Timestamp
      %th.details Details
      %th
      %th.numeric Amount
  %tbody
    - @ticks.each do |record|
      %tr
        %td= record_icon(record)
        %td= link_to record.ts, global_tick_path(record)
        %td= record_details(record)
        %td
          - record.kills.each do |kill|
            = kill_image(kill)
        %td.col-sm-1.numeric{ nowrap: :nowrap }= number_to_isk record.amount
