%p#notice= notice

%ol.breadcrumb
  %li.breadcrumb-item
    = link_to 'Welcome Page', root_path
  %li.breadcrumb-item
    = link_to 'Mission Info', missions_path
  %li.breadcrumb-item.active= @character.name
  .pull-right
    = link_to 'Character Profile', character_profile_path(@character)


.panel.panel-default
  .panel-heading
    %h3.panel-title 
      Mission Info
  .panel-body
    .row
      .col-sm-6
        %table.table
          - 1.upto(5) do |level|
            %tr
              %td= mission_level_label(level)
              %td.numeric= @character.wallet_records.where(mission_level: level, type: 'agent_mission_reward').count
      .col-sm-6
        %table.table
          %tr
            %th Total ISK from missions
            %td.numeric= number_to_isk @character.wallet_records.where(:mission_level.ne => nil).sum(:amount)
          %tr
            %th Total ISK from mission completion
            %td.numeric= number_to_isk @character.wallet_records.where(:mission_level.ne => nil, type: 'agent_mission_reward').sum(:amount)
          %tr
            %th Total ISK from mission completion time rewards
            %td.numeric= number_to_isk @character.wallet_records.where(:mission_level.ne => nil, type: 'agent_mission_time_bonus_reward').sum(:amount)
